.text-outline {
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-text-stroke: 1.5px black;
    paint-order: stroke fill;
}

.font-inter-heavy {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}